In [1]:
import pandas as pd

In [2]:
lc = pd.read_csv("C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Land Cost/base_landcost.csv")

In [3]:
lc['Impte.bruto factura'] = lc['Impte.bruto factura'].apply(lambda x: '{:.1f}'.format(x).replace('.', ','))

In [4]:
lc.head()

,Unnamed: 0,Tipo de cambio,Texto cab.documento,Referencia,Nombre del usuario,Nombre 1,Nº documento factura,Moneda,Impte.bruto factura,Fecha de entrada,...,Fe.descto.,Fe.contabilización,Emisor de factura,Ejercicio,Creado por,Código transacción,Clase de documento,Base retención,Asignación,Anulado con
0,0,"1,00000",19551,0236960581,SROJASF,NaN,5112952310,CLP,"0,0",2024-01-11,...,2024-01-09,2024-01-11,10000788,2024,NaN,MIRO,KI,0,0236960581,NaN
1,1,"1,00000",19555,0236960587,SROJASF,NaN,5112952457,CLP,"0,0",2024-01-11,...,2024-01-09,2024-01-11,10000788,2024,NaN,MIRO,KI,0,0236960587,NaN
2,2,"1,00000",19660,0236966448,SROJASF,NaN,5112956420,CLP,"0,0",2024-01-16,...,2024-01-13,2024-01-16,10000788,2024,NaN,MIRO,KI,0,0236966448,NaN
3,3,"1,00000",19760,0236965402,SROJASF,NaN,5112956464,CLP,"25314,0",2024-01-16,...,2024-01-12,2024-01-16,10000788,2024,NaN,MIRO,KI,0,0236965402,NaN
4,4,"1,00000",19663,0236969029,SROJASF,NaN,5112956505,CLP,"63816,0",2024-01-16,...,2024-01-15,2024-01-16,10000788,2024,NaN,MIRO,KI,0,0236969029,NaN

In [5]:
lc.to_csv("C:/Users/lravlic/Inchcape/Planificación y Compras Chile - Documentos/Planificación y Compras KPI-Reportes/Land Cost/base_landcost_2.csv")